body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    background-color: bisque;
    color: hsl(33, 100%, 28%);
    margin: 0px;
}
table, th, td {
    border: 1px solid hsl(33, 100%, 28%);
    border-collapse: collapse;
    padding: 5px;
}
.logo {
    max-width: 80px;
    margin-left: 1em;
}
.main-header {
    background-color: rgb(251, 202, 142);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 10px;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
}
.navigation a {
    text-decoration: none;
    color: rgb(143, 79, 0);
    padding: 15px;
}
.navigation a:hover {
    color:hsla(42, 100%, 50%, 0.71);
    background-color: hsl(33, 100%, 22%);
}
.banner {
    background-image: url(../images/be_unafraid.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text {
    text-align: center;
    color: hsl(33, 93%, 77%);
}
.home-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 2em auto;
    gap: 20px;
}
.main-footer {
    background-color: hsl(33, 100%, 72%);
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-footer a {
    color: hsl(0, 0%, 36%);
    text-decoration: none;
    padding: 10px 10px;
}
.main-footer a:hover {
    color: hsl(0, 0%, 67%);
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    text-align: center;
}
.card-image {
    display: block;
    max-width: 20em;
    max-height: 30em;
    width: auto;
    height: auto;
    object-fit: cover;
} 
.card-content {
    padding: 1em;
    text-wrap: wrap;
}
.card-button {
    font-size: 16px;
    color: hsl(33, 100%, 28%);
    background-color: hsl(34, 82%, 71%);
    padding: 10px;
    width: 50%;
    border-radius: 12px;
    margin-bottom: 2em;
    box-shadow: 0 10px hsl(33, 100%, 28%);
    cursor: pointer;
    user-select: none;
}
.card-button:hover {
    background-color: hsl(34, 83%, 64%);
}
.card-button:active {
    box-shadow: 0 5px hsl(33, 100%, 17%);
    transform: translateY(5px);
}