body {
    font-family: 'Trebuchet MS', "Montserrat", Arial, Helvetica, sans-serif;
    background-color: bisque;
    color: hsl(33, 100%, 28%);
    margin: 0px;
}
img {
    max-width: 100%;
}
table, th, td {
    border: 1px solid hsl(33, 100%, 28%);
    border-collapse: collapse;
    padding: 5px;
}
.banner-text h1 {
    color: hsl(33, 100%, 28%);
    padding-top: 1em;
}
.logo {
    max-width: 80px;
    margin-left: 1em;
}
.main-header {
    background-color: rgb(251, 202, 142);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 10px;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
}
.navigation a {
    text-decoration: none;
    color: rgb(143, 79, 0);
    padding: 15px;
}
.navigation a:hover {
    color:hsla(42, 100%, 50%, 0.71);
    background-color: hsl(33, 100%, 22%);
}
.nav-button {
    align-self: center;
    font-size: 32px;
    padding: 5px;
    min-width: 48px;
    background-color: transparent;
    border-color: transparent;
    display: none;
}
.nav-button:focus {
    background-color: rgb(251, 202, 142);
    color: rgb(143,79,0);
}
.banner {
    background-image: url(../images/be_unafraid.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text {
    text-align: center;
    color: hsl(33, 93%, 77%);
}
.home-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 2em auto;
    gap: 20px;
}
.main-footer {
    background-color: hsl(33, 100%, 72%);
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-footer a {
    color: hsl(0, 0%, 36%);
    text-decoration: none;
    padding: 10px 10px;
}
.main-footer a:hover {
    color: hsl(0, 0%, 67%);
}
.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 2em auto;
    gap: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid hsl(33, 100%, 28%);
    text-align: center;
    box-shadow: 0 0 5px 3px hsl(34, 82%, 71%);
}
.card-image {
    display: block;
    max-width: 20em;
    max-height: 20em;
    width: auto;
    height: auto;
    object-fit: cover;
} 
.card-content {
    padding: 1em;
    text-wrap: wrap;
}
.card-button {
    font-size: 16px;
    color: hsl(33, 100%, 28%);
    background-color: hsl(34, 82%, 71%);
    padding: 10px;
    width: 50%;
    border-radius: 12px;
    margin-bottom: 2em;
    box-shadow: 0 10px hsl(33, 100%, 28%);
    cursor: pointer;
    user-select: none;
}
.card-button:hover {
    background-color: hsl(34, 83%, 64%);
}
.card-button:active {
    box-shadow: 0 5px hsl(33, 100%, 17%);
    transform: translateY(5px);
}
/* contact form */
#contact {
    display: flex;
    flex-direction: column;
}
#contact label {
    font-weight: 500;
}
#contact input {
    margin-bottom: 0.5em;
    border: 1px solid #666666;
    padding: 1em;
}
#contact input:focus, #contact textarea:focus {
    outline: dashed 2px red;
}
.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}
.form-buttons button {
    background-color: hsl(33, 100%, 28%);
    padding: 0.5em;
    color: hsl(34, 82%, 71%);
    min-width: 10ch;
    border: 1px solid transparent;
    border-radius: 4px;
}
/* about page */
.about-page {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.about-content {
    grid-template-columns: 1fr 1fr;
    display: grid;
    max-width: 1200px;
    margin: 2em auto;
    gap: 20px;
}
/* carousel */
.slide {
    min-width: 100%;
    min-height: 50vh;
    display: grid;
    place-items: center;
    font-size: 4em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slide:nth-child(1) {
    background-color: hotpink;
    background-image: url("../images/tiptoe-logo.png");
}
.slide:nth-child(2) {
    background-color: #e3e360;
    background-image: url("../images/team-pic.png");
}
